@use './variables' as *;


/* BOOTSTRAP IMPORT */
@import "~bootstrap/scss/functions";

// variables override
$primary: $fg-primary;

@import "~bootstrap/scss/variables";

// adding custom colors
$custom-colors: (
    // custom color
    "fg-dark": $fg-dark,

);
// Merge the maps of colors
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/bootstrap";

.layoutContainer {
    min-height: 100dvh;
    min-width: 100%;
}

header {
    img {
        max-height: 60px;
    }

    .header-bg {
        background-image: url('/images/jumbotron.jpg');
        min-height: 350px;
        background-size: cover;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $fg-primary;
    }

    &.active {
        color: $fg-primary;
    }
}

ul {
    list-style: none;
}

main {
    flex-grow: 1;
    height: 100%;
    width: 100% !important;
    position: relative;
}

.comicsHeader {
    transform: translate(10%, -50%);
}

.thumb{
    object-fit: cover;
}

.footer-icon{
    max-height: 50px;
    object-fit: contain;
}

.footerBg{
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    .footerBg{
        overflow: hidden;
        position: relative;
        li{
            font-size: 12px;
            &:hover{
                color: $fg-primary !important;
                cursor: pointer;
            }
        }
    }

    small{
        font-size: 12px;
    }

    .footer-logo{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-25%, -20%);
    }
}

.comic-detail-thumb{
    max-width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, -105%);
}






